.DS_Store

node_modules/

.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

npm-debug.*
*.log
yarn-error.log

android/app/build/
android/.gradle/
android/build/
android/local.properties
android/.idea/
android/*.iml
android/.settings/
android/.project
android/.classpath

ios/Pods/
ios/.xcodeproj/xcuserdata/
ios/.xcworkspace/xcuserdata/
ios/DerivedData/
ios/*.ipa
ios/*.dSYM.zip
ios/.swiftpm/

.env
.env.local
.env.*.local

.idea/
*.swp
*.swo
*~

coverage/
.nyc_output/
